body {
    background-color: #fff !important;
}

.adminmaintext {
    padding-left: 20px;
    text-align: center;
    margin: auto;
}

.adminmaintext h1 {
    color: red;
}

.regisdetail {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.556);
    color: white;
    font-size: 2rem !important;
}

.h1courses {
    background-color: #0d6efd;
    border-radius: 8px;
    padding: 0 2px;
}

.leftSide {
    color: black;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rightSide {
    color: green;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}